body {
  background: #666;
  color: #fff;
  font-family: arial;
  line-height: 1.4rem;
}

a {
  color: #fff;

  text-decoration: none;
}

ul {
  padding: 30px;
}

#container {
  background-color: #333;
  width: 960px;
  margin: 30px auto;
  overflow: hidden;
  padding: 10px;
}

#nav {
  background: #666;
}

#nav ul {
  padding-top: 14px;
  padding-left: 10px;
}

#nav li {
  list-style: none;
  float: left;
  padding-right: 140px;
}

#nav .active {
  font-weight: bold;
  font-size: large;
  color: black;
}
#main {
  float: left;
  width: 60%;
}

.kurssit li {
  border-bottom: 2px;
  padding-bottom: 20px;
  margin-left: 20px;
}

.kurssit a {
  background: #666;
  padding: 10px;
}
