

/*
.App {
 display: flex;
 flex-direction: column;
 justify-content: center;

}

.information{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.information input{
  width: 300px;
  height: 50px;
}

 button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
}
button:hover {
  cursor: pointer;
}

.players{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.player{
  width: 750px;
  height: auto;
  border : 1px solid black;
  margin: 10px;
  padding : 10px
}

.player h3{
  margin: 10px;

}*/
